/* Configuração do Menu-Toggle: */
.boxMenuToggle {
  position: fixed;
  width: 30px;
  height: 30px;
  top: 15px;
  right: 15px;
  border: solid 1px white;
  cursor: pointer;
  z-index: 99;
}
.barMenuToggle {
  border: solid 1px white;
  width: 20px;
  height: 2.5px;
  margin: 5px 4px;
  background: white;
}
.sidebarMenu {
  position: fixed;
  top: 65px;
  right: -105px;
  /* right: 0px; */
  width: 100px;
  display: flex;
  flex-direction: column;
  transition: linear 300ms;
  z-index: 98;
}
.sidebarMenu div {
  background-color: white;
  border: solid 0.5px black;
  list-style: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  padding: 12px 5px;
}
.closeMenuBackground {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  right: -100vw;
  /* right: 0vw; */
  width: 100vw;
  height: 100vh;
  z-index: 90;
  transition: linear 100ms;
}
/* Configuração da visualização mobile: */
@media(max-width: 610px) {
  .cabecalhoMenu {
    display: none;
  }
  #cabecalhoLogo-nome {
      font-size: 30px;
  }
  #cabecalhoLogo-cargo {
      font-size: 8px;
  }
}
