#app {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
#historic {
    border: solid 1px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 50%;
    margin: 10px 5px 0 5px;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: 'Indie Flower', cursive;
    background-image: url(https://hencan.github.io/projects/calcRecibos/images/blackBoard.png);
    background-size: 100%;
}
#histAgrup {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
}
#histAgrup div {
    width: 50%;
}
#histCalc {
    text-align: center;
    border-left: solid 1px white;
}
#histText,
#histTitle {
    cursor: pointer;
    text-align: center;
}
#calculator {
    box-sizing: border-box;
    width: 50%;
    margin: 10px 5px 0 5px;
    display: flex;
    flex-direction: column;
    background-color: rgba(169, 169, 169, 0.3);
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;

}
#display {
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px 5px;
    padding: 2px 10px;
    text-align: right;
    background-color: white;
}
#displaySub {
    font-size: 30px;
    padding: 5px 0;
    color: rgba(128, 128, 128, 0.5);
}
#displayNum {
    font-size: 40px;
    padding: 5px 0;
}
#keyboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 5px;
    padding: 0;
    font-size: 30px;
}
.buttonsGray,
.buttonsWhite,
.buttonsBlue {
    box-sizing: border-box;
    width: 24%;
    height: 10vh;
    box-sizing: border-box;
    background-color: rgba(128, 128, 128, 0.5);
    border: solid 1px darkgrey;
    text-align: center;
    cursor: pointer;
    margin: 0.5%;
    padding: 1%;
    box-shadow: 0px 0px 5px #999 inset;
}
.buttonsWhite {
    background-color: white;
    border: solid 1px darkgrey;
}
.buttonsBlue {
    background-color: rgba(81, 81, 250, 0.5);
    border: solid 1px darkgrey;
}
.buttonsGray:hover {
    background-color: gray;
}
.buttonsWhite:hover {
    background-color: gray;
}
.buttonsBlue:hover {
    background-color: rgb(81, 81, 250);
}
/* Configuração da visualização mobile: */
@media(max-width: 610px) {
    #app {
        flex-direction: column;
    }
    #historic {
        width: 98%;
        height: 230px;
        font-size: 15px;
        margin-bottom: 0;
    }
    #histButtons {
        font-size: 10px;
    }
    #histAgrup {
        padding: 5px;
    } 
    #calculator {
        display: flex;
        flex-direction: column;
        width: 98%;
        margin-top: 2px;
    }
    #displaySub {
        font-size: 15px;
    }
    #displayNum {
        font-size: 20px;
    }
    .buttonsGray,
    .buttonsWhite,
    .buttonsBlue {
        font-size: 20px;
        height: 35px;
        padding-top: 5px;
    } 
  }