/* Configuração do Menu-Toggle: */
.menu-burger {
  cursor: pointer;
  margin-left: auto;
  margin-right: 10px;
  padding: 5px 0;
  z-index: 99;
}
.bar-menu-burger {
  border: solid 1px black;
  width: 25px;
  height: 2px;
  margin: 3px 3px;
  background: black;
}
.sidebarMenu {
  position: fixed;
  top: 53px;
  right: -55px;
  width: 50px;
  display: flex;
  flex-direction: column;
  transition: linear 300ms;
  z-index: 98;
}
.sidebarMenu div {
  background-color: white;
  border: solid 0.5px black;
  border-radius: 10%;
  cursor: pointer;
  padding: 2px 5px;
  margin: 1px 10px 1px 0;
  font-size: 10px;
  text-align: center;
}
.sidebarMenu div img {
  width: auto;
  height: 30px;
  padding: 0;
}
.about-background {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  z-index: 90;
  transition: linear 100ms;
}
.help-background {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  z-index: 90;
  transition: linear 100ms;
}
.share-background {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  z-index: 90;
  transition: linear 100ms;
}
.share-background div{
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px;
  margin: 100px;
}
.menu-background {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  z-index: 90;
  transition: linear 100ms;
}
/* Configuração da visualização mobile: */
@media(max-width: 610px) {
  .headerMenu {
    display: none;
  }
  .headerLogo {
    margin-left: 5px;
  }
  #headerLogo-nome {
      font-size: 22px;
  }
  #headerLogo-cargo {
      font-size: 7px;
      padding-bottom: 1px;
  }
}
