
@font-face {
    font-family: "Oswald";
    src: url("oswald/Oswald-VariableFont_wght.tff")format("truetype");
}

@font-face {
    font-family: "Photograph_signature";
    src: url("photograph_signature/Photograph Signature.tff")format("truetype");
}
