.header {
    display: flex;
    flex-direction: row;
    height: 50px;
}
.headerLogo {
    text-align: center;
    cursor: default;
    margin: auto auto auto 40px;
    padding: 0;
}
#headerLogo-nome {
    font-size: 30px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
#headerLogo-cargo {
    font-size: 10px;
    padding: 0;
    margin: 0;
}
.headerMenu {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    margin: auto 30px auto auto;
}
.headerMenu div{
    padding: 0 10px;
    margin: 5px;
    width: 40px;
    text-align: center;
}
.headerMenu div img{
    width: auto;
    height: 30px;
    margin-right: 10px;
    max-width: 100%;
	-moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.headerMenu div img:hover, 
.headerMenu div.selected {
    /* background-color: rgba(25, 25, 25, 0.25);
    border-radius: 3px; */
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.3);
}
@media(min-width: 610.5px) {
    .menu-burger {
        display: none;
    }
  }
