* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: black
}
.cabecalho {
    background-color: black;
    border-bottom: solid 1px grey;
    height: 65px;
    width: 100vw;
    box-sizing: content-box;
    position: fixed;
    z-index: 97;
}
.cabecalho a {
    text-decoration: none;
    color: rgb(238, 238, 238);
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
}
.cabecalhoLogo {
    display: inline-block;
    height: 60px;
    padding: 2.5px;
    margin: 2px 20px 2px 2px;
    text-align: center;
}
#cabecalhoLogo-nome {
    font-size: 35px;
    font-weight: bold;
    color: white;
}
#cabecalhoLogo-cargo {
    font-size: 8px;
    color: white;
}
.cabecalhoMenu {
    display: inline-block;
    vertical-align: top;
    height: 60px;
    padding-top: 25px;
}
.cabecalhoBarMenu {
    border-left: solid 1px gray;
}
.cabecalhoMenu ul {
    margin: 0;
    padding: 0;
}
.cabecalhoMenu li {
    display: inline-block;
}
.cabecalhoMenu a {
    padding: 5px;
}
.cabecalhoMenu a:hover, 
.cabecalhoMenu a.selected {
    background-color: rgb(238, 238, 238);
    color: rgb(25, 25, 25);
    border-radius: 3px;
}

canvas {
    position: fixed;
    top: 60px;
    left: 0;
    z-index: -1;
    overflow: hidden;
}
#content {
    position: absolute;
    top: 65px;
    left: 0px;
    z-index: 0;
    align-items: center;
}
@media(min-width: 610.5px) {
    .menu-burger {
        display: none;
    }
  }
