
@font-face {
    font-family: "Oswald";
    src: url("oswald/Oswald-VariableFont_wght.ttf")format("truetype");
}

@font-face {
    font-family: "PhotographSignature";
    src: url("photograph_signature/PhotographSignature.ttf")format("truetype");
}