/* Configuração do Menu-Toggle: */
.menu-burger {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 15px;
  right: 20px;
  cursor: pointer;
  z-index: 99;
}
.bar-menu-burger {
  border: solid 1px black;
  width: 16px;
  height: 2px;
  margin: 3px 3px;
  background: black;
}
.sidebarMenu {
  position: fixed;
  top: 53px;
  right: -155px;
  width: 150;
  display: flex;
  flex-direction: column;
  transition: linear 300ms;
  z-index: 98;
}
.sidebarMenu div {
  background-color: white;
  border: solid 0.5px black;
  list-style: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  padding: 12px 5px;
}
.menu-background {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  z-index: 90;
  transition: linear 100ms;
}
/* Configuração da visualização mobile: */
@media(max-width: 610px) {
  .headerMenu {
    display: none;
  }
  #headerLogo-nome {
      font-size: 20px;
  }
  #headerLogo-cargo {
      font-size: 6px;
  }
}
